$centerWidth: 800px;

/* Colors */
$platinum: #e0e1dd;
$darktext: #a9adc1;

.jumbo {
    background: linear-gradient(-45deg, rgba(13, 27, 42, 1) 0%, rgba(27, 38, 59, 1) 80%);

    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .logo {
        width: 70px;
        height: 70px;
        display: block;
        margin-bottom: 25px;
    }

    .title {
        color: $platinum;
        font-size: 28px;
    }

    .row {
        width: $centerWidth;
        display: flex;
        margin: 25px 0;

        input.link {
            background: transparent;
            border: 1px solid;
            font-size: 18px;
            padding: 10px 15px;
            color: #c8c8c8;
            display: inline-block;
            flex: 4;
            margin-right: 10px;
        }

        input.link::placeholder {
            color: #c8c8c8;
        }

        .btn {
            display: inline-block;
            flex: 1;
            font-size: 20px;
            background: #415a77;
            color: $platinum;
            border: 1px solid #415a77;
            cursor: pointer;
        }
    }

    .box {
        background: #0d1b2a;
        width: $centerWidth;
        border: 1px solid #09121c;
        margin: 50px 0;
        padding: 15px 25px;

        .title {
            font-size: 24px;
            text-align: center;
        }

        .featureRow {
            display: flex;
            margin-top: 25px;

            .feature {
                flex: 1;

                .feature-title {
                    color: $platinum;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 18px;

                    svg {
                        font-size: 20px;
                        margin-right: 10px;
                    }
                }

                .feature-desc {
                    color: $darktext;
                    text-align: center;
                    padding: 5px 15px 0;
                    box-sizing: border-box;
                }
            }
        }

        .signup {
            font-size: 20px;
            background: #415a77;
            color: $platinum;
            border: 1px solid #415a77;
            cursor: pointer;
            padding: 5px 15px;
            display: table;
            margin: 25px auto 0;
        }
    }
}
