.navbar {
    background: #0d1b2a;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 25px;

    .logo {
        display: block;

        img {
            width: 35px;
            height: 35px;
        }
    }
}
